{% extends 'todo/base.html'%}

{% block content%}



{% for post in post_list%}
<div class="alert alert-{{post.priority}}" role="alert">
    <p>{{post.title}}</p>
    <a href="{% url 'todo:detail' post.pk%}" class="btn btn-primary">詳細</a>
    <a href="{% url 'todo:delete' post.pk%}" class="btn btn-success">削除</a>
    <a href="{% url 'todo:good' post.pk%}" class="btn btn-info">いいね　{{post.good}}</a>
    <a href="{% url 'todo:read' post.pk%}" class="btn btn-primary">閲覧数　{{post.read}}</a>

</div>

{% endfor%}
<a href="{% url 'todo:logout'%}" class="btn btn-primary">ログアウト</a>

{% endblock%}